<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://bar-events.com/wp-content/uploads/2014/09/sliders-cocktail.png);">
  <div class="container">
    <h1>Cocktailing</h1>
    <p>A selection of the best cocktails in the world</p>
  </div>
</div>

    <nav class="navbar">
        <%= link_to root_path do %>
        <%= image_tag "https://i.ya-webdesign.com/images/cocktails-clipart-cosmo-drink-4.png", :class => "d-inline-block align-top", :width => "30", :height => "30"%><span class="sec counter counter-lg"><i class="fas fa-undo"></i></span>
      <% end %>
        <%= link_to new_cocktail_path do %>
        <%= image_tag "https://i.ya-webdesign.com/images/cocktails-clipart-cosmo-drink-4.png", :class => "d-inline-block align-top", :width => "30", :height => "30"%><span class="sec counter counter-lg">+</span>
      <% end %>
    </nav>

<div class="container">


  <div class="masonry">
    <% @cocktails.each do |cocktail| %>
      <div class="item">
        <%= cocktail.name %>
        <%= link_to cocktail_path(cocktail) do %>
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key %>
            <% else %>
          <%= image_tag cocktail.img_url %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>



</div>
