<div class="banner-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://vineyardclubw.blob.core.windows.net/images/DSC_0028%20copy%20copy.jpg);">
</div>

<nav class="navbar navbar-light bg-light">
      <a class="navbar-brand pl-2">
        <%= image_tag "https://image.flaticon.com/icons/png/512/38/38706.png", :class => "d-inline-block align-top", :width => "30", :height => "30"%>
      </a>
      <a class="navbar-brand pr-2"><%= link_to new_cocktail_path do %>
        <%= image_tag "https://image.flaticon.com/icons/png/512/38/38706.png", :class => "d-inline-block align-top", :width => "30", :height => "30"%><span class="sec counter counter-lg">+</span>
      <% end %>
      </a>
    </nav>

<div class="container">
  <h4>Add an ingredient</h4>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, :label => "Quantity" %>
  <%= f.association :ingredient %>
  <%= f.submit "Add ingredient", class: "btn btn-primary" %>
<% end %>
</div>

</div>
